body {
  background: #cdcad4;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  margin: 70px 0;
}


.navbar {
  background: #7b738e;
  border-bottom: 1px solid black;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 0;
}

.navbar-brand {
  color: #473a12;
  display: block;
  float: left;
  font-weight: 700;
  font-size: 28px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
}

.navbarUserCounter {

  color: #d9bf6b;
  display: block;
  float: right;
  font-weight: 500;
  font-size: 20px;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  text-decoration: none;
  animation: blinker 1s linear infinite;

}

@keyframes blinker {
  70% {
    opacity: 0;
  }
}

.chatbar {
  background: #a39db0;
  border-top: 1px solid black;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 5px;
  position: fixed;
  right: 0;
}

.chatbar-message,
.chatbar-username {
  border: 1px solid black;
  display: block;
  height: 50px;
  line-height: 40px;
  margin: 5px;
  padding: 0 9px;
}

.chatbar-message {
  background: #d7d5dd;
  flex: 8;
  font-size: 12px
}

.chatbar-username {
  background: #d7d5dd;
  flex: 2;
}

.message {
  display: flex;
  padding: 5px;
}

.message.notification {
  font-style: italic;
  padding: 5px 20px;
  flex: 2;
}

.message-content,
.message-username {
  overflow: hidden;
  margin: 5px;
  padding: 0 10px;
}

.message-content {
  flex: 8;
}

.message-username {
  flex: 2;
  font-weight: 700;
}